.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background-color: #1487aa;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  cursor: pointer;
}

.comments button:hover,
.comments button:active {
  background-color: #dcfff9;
  color: #03be9f;
}
